<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Itim&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:wght@300;400&display=swap');
  </style>
  <link rel="stylesheet" href="/style.css">
  <title>Your Library</title>
</head>
<body>
  <a href="/auth/sign-out">Sign Out</a>
  <h1>Welcome to Your Library</h1>
    <ul>
      <% books.forEach((book)=>{ %>
        <li>
          <a href="/users/<%= user._id %>/books/<%= book._id %>"><%= book.title.charAt(0).toUpperCase() + book.title.slice(1) %></a>
        </li>
      <% }) %>
    </ul>
  
  <a href="/users/<%=user._id%>/books/new">Click Here to Add a New Book!</a>
</body>
</html>
