<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
  </style>
  <link rel="stylesheet" href="/style.css">
  <title>Add a New Book</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="create-page">
    <h1>Add a New Book</h1>
    <form action="/users/<%= user._id %>/books" method="POST">
      <div class="create-form">
        <label for="title">Title:</label>
        <input class="input" type="text" name="title" id="title" required>
        <label for="author">Author:</label>
        <input class="input" type="text" name="author" id="author" required>
        <label for="pages">Page Count:</label>
        <input class="input" type="number" name="pages" id="pages">
        <label for="status">Current Status:</label>
        <select class="input" id="status" name="status">
          <option value="reading">Reading</option>
          <option value="finished">Finished</option>
        </select>
        <div class="create-button-div">
          <button class="button" type="submit">Add Book</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
