<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Quicksand:wght@300..700&display=swap');
  </style>
  <link rel="stylesheet" href="/style.css">
  <title>BookTrac</title> 
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <section class="home-parent">
    <div class="home-child"><h1>Welcome to BookTrac!</h1></div>
    <div class="home-child"><h1>Your Personal Virtual Library</h1></div>
  </section>
</body>
</html>